<!DOCTYPE html>
<html>

<head>

<title>Create Classroom</title>

<script src="https://cdn.tailwindcss.com"></script>
<script src="/static/js/script.js"></script>

</head>

<body class="flex items-center justify-center h-screen bg-[#020617] text-white">

<div class="bg-[#0B1120] p-8 rounded-xl w-96 border border-gray-800">

<h2 class="text-xl mb-4">Create Classroom</h2>

<input id="createName"
placeholder="Enter your name"
class="w-full p-3 mb-4 bg-gray-800 rounded">

<button onclick="createClass()"
class="w-full bg-blue-600 p-3 rounded">
Create
</button>

</div>

</body>

</html>