<!DOCTYPE html>
<html>

<head>

<title>Dashboard</title>

<script src="https://cdn.tailwindcss.com"></script>

<script src="/static/js/script.js"></script>

</head>

<body class="bg-[#020817] text-white min-h-screen flex flex-col items-center justify-center">

<h1 class="text-4xl mb-10">Dashboard</h1>

<div class="flex gap-8">

<button onclick="window.location.href='/create'"
class="bg-blue-600 p-6 rounded">
Create Classroom
</button>

<button onclick="window.location.href='/join'"
class="bg-blue-600 p-6 rounded">
Join Classroom
</button>

</div>

</body>

</html>